html {
	background-color: #FBFAFA;
}
html, body, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}
html, body {
	font-size: 10pt; /* See as default font size */
}
h1, h2, h3, .fa {
	color: #2E74B5; /* Light blue headers and icons */
}
h2, h3, p {
	margin: 0;
}
h2 {
	font-size: 12pt;
	padding-top: 10px;
}
h3 {
	margin-top: 2px;
	font-size: 10pt;
}
.italic { font-style: italic; }
.flex-container {
	display: flex;
	justify-content: space-between;
}
.flex-vertical { flex-direction: column; }
.flex-no-shrink { flex: 1 0 auto; }
.page {
	width: 21cm; /* A4 */
	height: 29.7cm;
	padding: 1cm;
	margin: 1cm auto;
	border: 1px #D4D4D4 solid;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.date { float: right; }
.cv-column {
	flex: 1; /* Divide space evenly over all (in this case two) cv-columns */
}
article {
	flex: 1 1 auto; /* Grow or shrink to fill up page height */
}
.wrapper {
	height: 100%;
}
.cv-header {
	border-bottom: thin solid #D4D4D4;
}
.cv-section > p {
	text-align: justify;
}
.cv-section:not(:first-child) {
	border-top: thin solid #D4D4D4;
}
.margin-right {	margin-right: 16px; }
.margin-left { margin-left: 16px; }
.right-align { text-align: right }
.inline { display: inline-block; }
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
		margin: 0; /* Remove the 1cm top & bottom margin for printing */
    }
}