<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arjen Bos CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="tailwind.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="font-body bg-gray-50">
    
    <div class="A4 mx-auto my-16 bg-primary-light text-primary-dark shadow-2xl overflow-hidden">
        
        <div class="grid grid-cols-3">
            <div class="col-span-1 p-8 bg-primary-dark">
                <div class="rounded-full overflow-hidden w-32 h-32 m-auto">
                    <img src="img/pasfoto.jpg" alt="Pasfoto">
                </div>
            </div>
            
            <div class="col-span-2 p-6 my-auto">
                <h1 class="text-4xl font-header font-bold pb-2">Arjen Bos</h1>
                <h2 class="text-xl font-header uppercase tracking-wider">Data Analyst</h2>
            </div>
            
        </div>
        
        <div class="bg-secondary text-primary-dark py-6">
            <div class="grid grid-cols-3">
                <ul class="pl-6">
                    <li><a href="tel:+31615399756"><i class="icon fa fa-whatsapp"></i>+31 6 15399756</a></li>
                    <li><a href="mailto:arjen@bos4.nl"><i class="icon fa fa-envelope-o"></i>arjen@bos4.nl</a></li>
                </ul>
                <ul class="pl-6">
                    <li><i class="icon fa fa-calendar"></i>30 jaar</li>
                    <li><i class="icon fa fa-map-marker"></i>Eindhoven</li>
                </ul>
                <ul class="pl-6">
                    <li><a href="https://www.linkedin.com/in/arjenbos4/" target="_blank"><i class="icon fa fa-linkedin"></i>/arjenbos4</a></li>
                    <li><a href="https://github.com/arjobsen" target="_blank"><i class="icon fa fa-github"></i>/arjobsen</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid grid-cols-3 h-full">
            <div class="col-span-1 p-6 bg-primary-dark text-primary-light">
                <div>
                    <div class="h-1 w-16 bg-primary-light my-2"></div>
                    <h2 class="text-lg text-secondary font-bold uppercase tracking-wider font-header">Opleiding</h2>
                    <div class="mb-6">
                        <span class="text-sm">2017</span>
                        <span class="block">Traineeship BI & Big Data</span>
                        <span class="block text-sm">Young Capital Professionals</span>
                        <span class="block text-sm">ITPH Academy</span>
                    </div>
                    <div class="mb-6">
                        <span class="text-sm">2013 - 2016</span>
                        <span class="block">MSc Biomedical Engineering</span>
                        <span class="block text-sm">TU Eindhoven</span>
                    </div>
                    <div class="mb-6">
                        <span class="text-sm">2009 - 2013</span>
                        <span class="block">BSc Technische Natuurkunde</span>
                        <span class="block text-sm">TU Eindhoven</span>
                        <span class="block text-sm">Universidad de Barcelona</span>
                    </div>
                </div>
                <div>
                    <div class="h-1 w-16 bg-primary-light mt-6 mb-2"></div>
                    <h2 class="text-lg text-secondary font-bold uppercase tracking-wider font-header">Certificaten</h2>
                    <div>
                        {% for iname, idata in certificaten.items() %}
                        <span class="text-sm">{{ iname }}</span>
                        <ul class="mb-6">
                            {% for certificaat in idata %}
                            <li>{{ certificaat.naam }} &middot; <span class="text-sm">{{ certificaat.organisatie }}</span></li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="col-span-2 p-6">
                
                <div class="h-1 w-16 bg-primary-dark my-2"></div>
                <h2 class="text-lg mb-4 font-bold uppercase tracking-wider font-header">Werkervaring</h2>
                
                {% for project in projecten %}
                <div class="mt-4 flex justify-between w-full">
                    <div>
                        <div class="font-bold tracking-wide">{{ project.functie }}</div>
                        <div class="text-sm">{{ project.organisatie }}</div>
                        <div class="text-sm italic">{{ project.periode }}</div>
                    </div>
                    <div class="flex justify-between pb-2">
                        <ul class="skills">
                            {% for s in project.skills %}
                            <li>{{ s }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

                <div>
                    <div class="h-1 w-16 bg-primary-dark mt-6 mb-2"></div>
                    <h2 class="text-lg mb-4 font-bold uppercase tracking-wider font-header">Testimonial</h2>
                    <i class="text-sm"><i class="fa fa-quote-left"></i> Arjen is snel met interpreteren en begrijpen van de data en deze vertalen naar inzichten die voor de business relevant zijn. <i class="fa fa-quote-right"></i></i>
                    <p class="text-xs text-right pt-1 uppercase tracking-wide">Wim Leeuwenkamp &mdash; Programma manager Belastingdienst</p>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>
